<div class="container">
    <div ng-show="curCategory">
        <h2 class="main-heading text-center">
            {{curCategory.descr}} 
        </h2>
        <br>
    </div>
    <!-- <div class="row vcenter" ng-repeat="product in products | limitTo: paginationLimit()"> -->
	<div class="row vcenter" ng-repeat="product in products">
        
		<div class="col-sm-2">
            <!-- <div class="image"> -->
                <!-- <img alt="product" class="img-responsive thumbnail center-block" ng-src="data/products/{{product.id}}.jpg"/> -->
				<img alt="product" class="img-responsive center-block" ng-src="data/products/{{product.code}}-s.jpg"/>
            <!-- </div> -->
        </div>
        
		<div class="col-sm-7">
			<div>
				<h4><a ng-href="#/product/{{product.id}}">{{product.name}}</a></h4>
				<div>
					<!-- {{product.description}}  -->
					единица: {{product.unit_name}}, в упаковке: {{product.pack_fact}}
				</div>
			</div>
        </div>
		
        <div class="col-sm-3 text-right">
            <!-- <h3><a ng-href="#/product/{{product.id}}"><i class="fa fa-rub"></i> {{product.price | number : 2}}</a></h3> -->
			<h3><a ng-href="#/product/{{product.id}}">{{product.price | number : 2}}</a></h3>
            <div>
                <button class="btn" ng-click="cart.editItem('add', product, 1)" type="button">
                    В корзину
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
		
		
    </div>
<!-- 	
    <div class="row">
        <div class="col-xs-12 center-block">
            <button class="btn btn-warning text-uppercase center-block" ng-click="showMoreItems()" ng-show="hasMoreItemsToShow()">
                Показать еще {{pageSize}}
            </button>
        </div>
    </div>
 -->
 </div>